@media (min-width: 992px) {
  .logostyle {
    height: 100px;
    width: auto;
  }

  .navcon {
    height: 50px;
  }

  ul,
  li {
    height: 50px;
  }

  a.nav-link {
    height: 50px;
    font-size: 22px;
  }

  .navigate {
    height: auto;
  }
}

/* tablet css */
@media (min-width: 577px) and (max-width: 991px) {
  .logostyle {
    height: 100px;
    width: auto;
  }

  .navcon {
    height: auto;
  }

  ul,
  li {
    height: auto;
    padding-left: 20px;
  }

  a.nav-link {
    height: auto;
    font-size: 22px;
  }

  .navigate {
    height: auto;
  }
}

/* mobile css */
@media (max-width: 576px) {
  .logostyle {
    height: 80px;
    width: auto;
  }

  .navcon {
    height: auto;
  }

  ul,
  li {
    height: auto;
    padding-left: 20px;
  }

  a.nav-link {
    height: auto;
    font-size: 22px;
  }

  .navigate {
    height: auto;
  }
}
